.button{
    background-color: var(--red-900);

    border: 0;
    padding: 0.4rem;
    color: var(--white);
    border-radius: 0.5rem;
    transition: filter 0.2s;

    &[disabled]{ //se o disabled for true, faça
        svg{
            animation: animate 2s infinite;
            cursor: not-allowed;
        }
    }

    &:hover{
        filter: brightness(1.08);
    }

    
}


.buttonText{
    color: var(--white);
}

@keyframes animate { //Animar o botao pra ele ficar girando infinitamente
    from{
        transform: rotate(0deg); //0 degraus
    }
    to{
        transform: rotate(360deg);
    }
}